*{
	font-family: 'Quicksand', sans-serif;
}

#navbar{
	border-bottom: 1px solid #ccc;
	box-shadow: 1px 1px 0.2px grey;
	height: 65px;
}

.logo-adjust {
	margin-left:90px;
}

.navbar_mm{
	border: 1px solid black;
	height: 64px;
}






